* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Fira Sans", sans-serif; */
}
body {
  background-color: #eee;
}
.Calculator {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}
button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  /* font-size: 20px; */
  /* background-position: center; */
  text-shadow: 5px 5px 7px black;
  opacity: 0.9;
}
.operators {
  display: flex;
}
.operators button:hover {
  border-radius: 20px;
  background-color: black;
}

.operators button {
  /* flex: 1 1 0%; */
  flex: 0%;
  background-color: rgba(20, 4, 250, 0.932);
  font-weight: 700;
}
.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  /* flex: 1 1 33.333%; */
  flex: 30%;
  max-width: 33.333%;
  background-color: black;
}
.digits button:hover {
  background: rgba(1, 5, 248, 0.959);
  border-radius: 20px;
}
/* //calculator yang ke 2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* * {
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
input[type="text"] {
  height: 75px;
  width: 249px;
  background-color: #10111600;
  border: 0px;
  color: #ffffff;
  text-align: right;
  font-weight: 500;
  letter-spacing: 1px;
}
#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}
#blackspace {
  color: #262834;
}
button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: #ffffff;
  font-weight: 500;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
.highlight {
  background: #56cbdb;
} */

/* bawaan react~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` */
/* /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
